#TSRToolTipLayer
{
    font-family: "Arial","돋움" !important;
}

#TSRToolTipLayer #TSRToolTipRLString
{
	font-family: "Arial","돋움";
}

.TSRUntestURLWindow {
	font-family: "Arial","돋움" !important;
}

.TSRUntestURLWindow_Wrapper .titleArea {
	font-family: "Arial","돋움" !important;
}

.TSRUntestURLWindow_Wrapper .descriptionArea .description {
	font-family: "Arial","돋움" !important;
}

.TSRImageBlock_Wrapper{
	font-family: "Arial","돋움" !important;
}